<?xml version="1.0"?>
<!-- app/code/Fiko/Training/etc/di.xml -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
   <!-- BEGIN: Defining custom command -->
   <type name="Magento\Framework\Console\CommandList">
       <arguments>
           <argument name="commands" xsi:type="array">
               <item name="fiko:training" xsi:type="object">Fiko\Training\Console\Command\Testing</item>
           </argument>
       </arguments>
   </type>
   <!-- END: Defining custom command -->

   <!-- BEGIN: example of type implementation -->
   <type name="Fiko\Training\Helper\Data">
        <arguments>
            <argument name="data" xsi:type="array">
                <item name="prefix" xsi:type="string">Mr.</item>
            </argument>
        </arguments>
   </type>
   <!-- END: example of type implementation -->

   <!-- BEGIN: example of virtualType implementation -->
   <type name="Fiko\Training\Console\Command\Testing">
        <arguments>
            <argument name="helper" xsi:type="object">data_example</argument>
        </arguments>
   </type>
   <virtualType name="data_example" type="Fiko\Training\Helper\Data">
        <arguments>
            <argument name="data" xsi:type="array">
                <item name="prefix" xsi:type="string">Tuan</item>
            </argument>
        </arguments>
   </virtualType>
   <!-- END: example of virtualType implementation -->
</config>